body {
  background-color: violet;
}

.section {
  width: 60%;
  display: flex;
  margin: 50px auto;
  text-align: center;
}

 .right {
  display: inline-block;
  width: 50%;
  padding: 20px;
  background-color: white;
   text-align: center;
}

.left {
  background-color: rgb(0, 72, 255);
  color: white;
  text-align: center;
  display: inline-block;
  width: 50%;
  padding: 20px;
  
}



.title {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
}



.input{
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  
   width: 90%;
}



.button {
  background-color: rgba(127, 221, 255, 0.76);
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 30px;
   width: 90%;
}


